<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{fragments/cabecalho :: head('Pagina Inicial')}"></header>

<body>

<nav th:replace="~{fragments/menuNav :: navbar()}"></nav>
<nav th:replace="~{fragments/subNav :: subnavbarM()}"></nav>


<div class="container mt-5">
		<h2 class="text-center">Cadastrar Médico</h2>
		<form method="post" action="/medicos/criar" th:object="${medico}">
			<p>Nome: <input type="text" name="nome" id="nome" /></p>
			<p>CRV: <input type="text" name="crv" id="crv" /></p>
			<select name="especialidadeId" id="especialidadeId">
				<option value="0" disabled selected>Selecione a especialidade</option>
				<option th:each="especialidade : ${especialidades}" th:value="${especialidade.getId()}" th:text="${especialidade.getDescricao()}"></option>
			</select>
			<br><br>
			
			<table class="table">
				<thead>
					<th>Dia da Semana</th>
					<th>Horário de Início</th>
					<th>Horário Final</th>
				</thead>
				<tbody>
					<tr>
						<td>Segunda-Feira</td>
						<td><input type="time" name="segundaHoraInicio" id="segundaHoraInicio"/></td>
						<td><input type="time" name="segundaHoraFinal" id="segundaHoraFinal"/></td>
					</tr>
					<tr>
						<td>Terça-Feira</td>
						<td><input type="time" name="tercaHoraInicio" id="tercaHoraInicio"/></td>
						<td><input type="time" name="tercaHoraFinal" id="tercaHoraFinal"/></td>
					</tr>
					<tr>
						<td>Quarta-Feira</td>
						<td><input type="time" name="quartaHoraInicio" id="quartaHoraInicio"/></td>
						<td><input type="time" name="quartaHoraFinal" id="quartaHoraFinal"/></td>
					</tr>
					<tr>
						<td>Quinta-Feira</td>
						<td><input type="time" name="quintaHoraInicio" id="quintaHoraInicio"/></td>
						<td><input type="time" name="quintaHoraFinal" id="quintaHoraFinal"/></td>
					</tr>
					<tr>
						<td>Sexta-Feira</td>
						<td><input type="time" name="sextaHoraInicio" id="sextaHoraInicio"/></td>
						<td><input type="time" name="sextaHoraFinal" id="sextaHoraFinal"/></td>
					</tr>
					<tr>
						<td>Sábado</td>
						<td><input type="time" name="sabadoHoraInicio" id="sabadoHoraInicio"/></td>
						<td><input type="time" name="sabadoHoraFinal" id="sabadoHoraFinal"/></td>
					</tr>
					<tr>
						<td>Domingo</td>
						<td><input type="time" name="domingoHoraInicio" id="domingoHoraInicio"/></td>
						<td><input type="time" name="domingoHoraFinal" id="domingoHoraFinal"/></td>
					</tr>
				</tbody>
			</table>
			
			<input type="submit" value="Salvar" />
		</form>
	</div>

</body>
</html>