<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{fragments/cabecalho :: head('Pagina Inicial')}"></header>

<body>

<nav th:replace="~{fragments/menuNav :: navbar()}"></nav>
<nav th:replace="~{fragments/subNav :: subnavbarA()}"></nav>


<div class="container mt-5">
		<h2 class="text-center">Editar Especialidade</h2>
		<form method="POST" th:action="${especialidade.id}" th:object="${especialidade}">
			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token != null ? _csrf.token : ''}"/>			
			<p>Descrição da Especialidade: <input type="text" name="descricao" id="descricao" th:value="${especialidade.descricao}" /></p>
			<p>Duração padrão de consulta (em minutos): <input type="number" name="duracaoConsulta" id="duracaoConsulta" th:value="${especialidade.duracaoConsulta}" /></p>
			<input type="submit" value="Salvar" />
		</form>
	</div>

</body>
</html>