<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{fragments/cabecalho :: head('Pagina Inicial')}"></header>

<body>

<nav th:replace="~{fragments/menuNav :: navbar()}"></nav>

<nav th:replace="~{fragments/subNav :: subnavbarM()}"></nav>

<div class="container">
		<h2>Médicos</h2>
		<a href="/medicos/criar"><button>Criar</button></a>
		<hr>
		<table class="table">
			<thead>
				<th>ID</th>
				<th>Nome</th>
				<th>CRV</th>
				<th>Especialidade</th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr th:each="medico : ${medicos}">
					<td th:text="${medico.getId()}"></td>
					<td th:text="${medico.getNome()}"></td>
					<td th:text="${medico.getCrv()}"></td>
					<td th:text="${medico.getEspecialidadeId()}"></td>
					<td><a th:href="@{/medicos/deletar/{id} (id = ${medico.getId()})}">deletar</a></td>
					<td><a th:href="@{/medicos/editar/{id} (id = ${medico.getId()})}">editar</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>