<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{fragments/cabecalho :: head('Pagina Inicial')}"></header>

<body>

<nav th:replace="~{fragments/menuNav :: navbar()}"></nav>
<nav th:replace="~{fragments/subNav :: subnavbarA()}"></nav>


<div class="container mt-5">
		<h2 class="text-center">Cadastrar Animal</h2>
		<form method="post" action="/animais/criar">
			<p>Nome: <input type="text" name="nome" id="nome" /></p>
			<p>Raça: <input type="text" name="raca" id="raca" /></p>
			<p>Espécie: <input type="text" name="especie" id="especie" /></p>
			<p>Idade: <input type="number" name="idade" id="idade" /></p>
			<select name="tutorId" id="tutorId">
				<option value="0" disabled selected>Selecione o tutor</option>
				<option th:each="tutor : ${tutoresList}" th:value="${tutor.getId()}" th:text="${tutor.getNome()}"></option>
			</select>
			<br><br>
			<input type="submit" value="Salvar" />
		</form>
	</div>

</body>
</html>